<p-toast position="bottom-right"></p-toast>

<app-section-header
  actionLabel="الرجوع للقائمة"
  sectionTitle="إدارة الجهات والأقسام"
  actionIcon="pi pi-arrow-left"
  (onAddClickedEvent)="goBack()"
></app-section-header>

<!-- Custom Tab Toggle -->
<div class="tab-switcher mt-4!">
  <button
    class="tab-btn"
    [class.active]="activeTab() === 'facility'"
    (click)="activeTab.set('facility')"
  >
    <i class="pi pi-building"></i>
    إضافة منشأة
  </button>
  <button
    class="tab-btn"
    [class.active]="activeTab() === 'department'"
    (click)="activeTab.set('department')"
  >
    <i class="pi pi-sitemap"></i>
    إضافة أقسام
  </button>
</div>

<!-- ======================== PANEL: FACILITIES ======================== -->
@if (activeTab() === 'facility') {
  <div class="form-wrapper mt-4!">
    <div class="flex flex-col gap-2">
      <label for="regionId">المنطقة الصحية</label>
      <p-select
        [options]="facilitesService.regions()"
        optionLabel="regionName"
        optionValue="regionID"
        [filter]="true"
        filterBy="regionName"
        [showClear]="true"
        placeholder="إختر المنطقة التابع لها الجهة"
        class="w-full h-10!"
        id="regionId"
        [(ngModel)]="currentFacility.regionID"
      ></p-select>
    </div>

    <div class="flex flex-col gap-2">
      <label for="facilityType">النوع</label>
      <p-select
        [options]="facilityTypes"
        optionLabel="name"
        optionValue="value"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="إختر نوع الجهة"
        class="w-full h-10!"
        id="facilityType"
        [(ngModel)]="currentFacility.facilityType"
      ></p-select>
    </div>

    <div class="flex flex-col gap-2">
      <label for="facilityLevel">مستوي المرفق</label>
      <p-select
        [options]="facilityLevels"
        optionLabel="name"
        optionValue="value"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="إختر مستوي المرفق"
        class="w-full h-10!"
        id="facilityLevel"
        [(ngModel)]="currentFacility.facilityLevel"
      ></p-select>
    </div>

    <div class="flex flex-col gap-2">
      <label for="inventoryStatus">حالة الحصر</label>
      <p-select
        [options]="inventoryStatus"
        optionLabel="name"
        optionValue="value"
        [disabled]="true"
        placeholder="إختر حالة الجرد"
        class="w-full h-10!"
        id="inventoryStatus"
        [(ngModel)]="currentFacility.inventoryStatus"
      ></p-select>
    </div>

    <div class="flex flex-col gap-2">
      <label for="facilityName">إسم المرفق</label>
      <p-iconfield class="w-full">
        <input
          id="facilityName"
          type="text"
          pInputText
          class="w-full"
          placeholder="مثال: مشفى طرابلس المركزي"
          [(ngModel)]="currentFacility.facilityName"
        />
        <p-inputicon class="pi pi-asterisk" />
      </p-iconfield>
    </div>

    <div class="flex flex-col gap-2">
      <label for="facilityCapacity">السعة السريرية</label>
      <p-iconfield class="w-full">
        <input
          id="facilityCapacity"
          type="number"
          pInputText
          class="w-full"
          placeholder="مثال: 150"
          [(ngModel)]="currentFacility.capacity"
        />
        <p-inputicon class="pi pi-asterisk" />
      </p-iconfield>
    </div>

    <div class="flex flex-col gap-2 col-span-2">
      <label for="address">العنوان</label>
      <p-iconfield class="w-full">
        <input
          id="address"
          type="text"
          pInputText
          class="w-full"
          placeholder="مثال: شارع يوسف بن تاشفين، حي الأندلس"
          [(ngModel)]="currentFacility.address"
        />
        <p-inputicon class="pi pi-map-marker" />
      </p-iconfield>
    </div>

    <div class="flex flex-col gap-2">
      <label for="lat">دائرة العرض</label>
      <p-iconfield class="w-full">
        <input
          id="lat"
          type="text"
          pInputText
          class="w-full"
          placeholder="28.012343"
          [(ngModel)]="currentFacility.lat"
        />
        <p-inputicon class="pi pi-map-marker" />
      </p-iconfield>
    </div>
    <div class="flex flex-col gap-2">
      <label for="lng">خط الطول</label>
      <p-iconfield class="w-full">
        <input
          id="lng"
          type="text"
          pInputText
          class="w-full"
          placeholder="28.012343"
          [(ngModel)]="currentFacility.lng"
        />
        <p-inputicon class="pi pi-map-marker" />
      </p-iconfield>
    </div>
    <div class="flex flex-col gap-2 col-span-2 h-100">
      <div class="locationPicker h-full w-full" id="locationPicker"></div>
    </div>
  </div>

  <div class="card flex justify-center mt-4!">
    <button pButton class="w-full! h-12! bg-gray-100! border-dashed!" (click)="addFacility()">
      <i class="pi pi-plus text-gray-700" pButtonIcon></i>
      <span pButtonLabel class="text-gray-700">
        {{ facilityEditingIndex !== null ? 'تحديث الجهة في القائمة' : 'إضافة منشأة للقائمة' }}
      </span>
    </button>
  </div>

  @if (facilitiesToSave().length > 0) {
    <div class="card mt-4!">
      <p-table
        [value]="facilitiesToSave()"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="15"
        stripedRows
      >
        <ng-template #header>
          <tr>
            <th>المنطقة</th>
            <th>الجهة</th>
            <th>حالة الجرد</th>
            <th>النوع</th>
            <th>المستوي</th>
            <th>السعة</th>
            <th>العنوان</th>
            <th>الاجراءات</th>
          </tr>
        </ng-template>
        <ng-template #body let-item let-i="rowIndex">
          <tr>
            <td>{{ facilitesService.regionsMap().get(item.regionID) }}</td>
            <td>{{ item.facilityName }}</td>
            <td>
              <p-tag [severity]="(item.inventoryStatus | InventoryStatus).severity">
                {{ (item.inventoryStatus | InventoryStatus).label }}
              </p-tag>
            </td>
            <td>{{ item.facilityType }}</td>
            <td>{{ item.facilityLevel }}</td>
            <td>{{ item.capacity }}</td>
            <td>{{ item.address }}</td>
            <td class="flex flex-row gap-2">
              <p-button
                icon="pi pi-trash"
                (click)="deleteFacilityItem(i)"
                severity="danger"
                rounded
              />
              <p-button
                icon="pi pi-pencil"
                (click)="editFacilityItem(i)"
                severity="secondary"
                rounded
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }

  <div class="card flex justify-center mt-4!">
    <button
      pButton
      class="w-full! h-12!"
      [disabled]="isSaving || facilitiesToSave().length === 0"
      [loading]="isSaving"
      (click)="saveAllFacilities()"
    >
      <i class="pi pi-check" pButtonIcon></i>
      <span pButtonLabel>حفظ الجهات</span>
    </button>
  </div>
}

<!-- ======================== PANEL: DEPARTMENTS ======================== -->
@if (activeTab() === 'department') {
  <div class="form-wrapper mt-4!">
    <div class="flex flex-col gap-2 col-span-2">
      <label for="deptFacility">الجهة الصحية</label>
      <p-select
        [options]="facilitesService.facilities()"
        optionLabel="facilityName"
        optionValue="facilityID"
        [filter]="true"
        filterBy="facilityName"
        [showClear]="true"
        placeholder="إختر الجهة التابع لها القسم"
        class="w-full h-10!"
        id="deptFacility"
        [(ngModel)]="currentDepartment.facilityID"
      ></p-select>
    </div>

    <div class="flex flex-col gap-2 col-span-2">
      <label for="deptName">اسم القسم / الإدارة</label>
      <p-iconfield class="w-full">
        <input
          id="deptName"
          type="text"
          pInputText
          class="w-full"
          placeholder="مثال: قسم الطوارئ"
          [(ngModel)]="currentDepartment.departmentName"
        />
        <p-inputicon class="pi pi-sitemap" />
      </p-iconfield>
    </div>
  </div>

  <div class="card flex justify-center mt-4!">
    <button
      pButton
      class="w-full! h-12! bg-gray-100! border-dashed!"
      [disabled]="!currentDepartment.facilityID || !currentDepartment.departmentName"
      (click)="addDepartment()"
    >
      <i class="pi pi-plus text-gray-700" pButtonIcon></i>
      <span pButtonLabel class="text-gray-700">
        {{ deptEditingIndex !== null ? 'تحديث القسم في القائمة' : 'إضافة قسم للقائمة' }}
      </span>
    </button>
  </div>

  @if (departmentsToSave().length > 0) {
    <div class="card mt-4!">
      <p-table
        [value]="departmentsToSave()"
        [tableStyle]="{ 'min-width': '30rem' }"
        [paginator]="true"
        [rows]="15"
        stripedRows
      >
        <ng-template #header>
          <tr>
            <th>الجهة</th>
            <th>اسم القسم</th>
            <th>الاجراءات</th>
          </tr>
        </ng-template>
        <ng-template #body let-item let-i="rowIndex">
          <tr>
            <td>{{ facilitesService.facilitiesMap().get(item.facilityID) }}</td>
            <td>{{ item.departmentName }}</td>
            <td class="flex flex-row gap-2">
              <p-button icon="pi pi-trash" (click)="deleteDeptItem(i)" severity="danger" rounded />
              <p-button
                icon="pi pi-pencil"
                (click)="editDeptItem(i)"
                severity="secondary"
                rounded
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }

  <div class="card flex justify-center mt-4!">
    <button
      pButton
      class="w-full! h-12!"
      [disabled]="isDeptSaving || departmentsToSave().length === 0"
      [loading]="isDeptSaving"
      (click)="saveAllDepartments()"
    >
      <i class="pi pi-check" pButtonIcon></i>
      <span pButtonLabel>حفظ الأقسام</span>
    </button>
  </div>
}
