<div class="bg-surface-0 dark:bg-surface-950 py-8!  mb-4!">
  <!-- <ul class="list-none p-0 m-0 flex items-center font-medium mb-5">
    <li>
      <a class="text-surface-500 dark:text-surface-300 no-underline leading-normal cursor-pointer"
        >Application</a
      >
    </li>
    <li class="px-2">
      <i
        class="pi pi-angle-right text-surface-500 dark:text-surface-300 text-sm! leading-normal!"
      ></i>
    </li>
    <li>
      <span class="text-surface-900 dark:text-surface-0 leading-normal">Analytics</span>
    </li>
  </ul> -->
  <div class="flex items-start flex-col md:justify-between md:flex-row">
    <div>
      <div class="page-title">{{sectionTitle}}</div>
      <div class="flex items-center text-surface-700 dark:text-surface-300 flex-wrap gap-8">
        <!-- <div class="flex items-center gap-2">
          <iconify-icon icon="mingcute:components-line"></iconify-icon>
          <span>إجمالي الأصول 332</span>
        </div> -->
        <!-- <div class="flex items-center gap-2">
          <i class="pi pi-globe text-base! leading-normal!"></i>
          <span>9.402 Sessions</span>
        </div>
        <div class="flex items-center gap-2">
          <i class="pi pi-clock text-base! leading-normal!"></i>
          <span>2.32m Avg. Duration</span>
        </div> -->
      </div>
    </div>
    <div class="mt-6! md:mt-0! flex items-center">
      @if (showAddButton) {
        <button pButton class="whitespace-nowrap bg-(--k-primary-active)! border-0!" (click)="onAddClicked()">
          <i pButtonIcon [class]="actionIcon"></i>
          <span pButtonLabel>{{actionLabel}}</span>
        </button>
      }
    </div>
  </div>
</div>
