.buttons-group {
        display: flex;
        flex-direction: row;
        gap: 16px;
        background-color: var(--k-forground-color);
        padding: 16px;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
}

button {
        border: 1px solid var(--k-border);
        width: 100%;
        padding: 32px;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
        background-color: var(--k-border);
}

button.active {
        background-color: var(--k-primary-opc-100);
        color: var(--k-primary);
}