<div class="sidebar relative" [class.sidebar-minimized]="isMinimized">
  <div class="side-bar-header flex flex-row items-center justify-between p-4! pb-4!">
    <div class="flex items-center gap-3" *ngIf="!isMinimized">
      <!-- <div class="icon-wrapper w-fit p-1! bg-(--k-primary-active) rounded-2xl!"> -->
      <div class="icon-wrapper w-fit">
        <!-- <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iLTIgLTIgMjQgMjQiPgoJPHBhdGggZD0iTS0yIC0yaDI0djI0SC0yeiIgZmlsbD0ibm9uZSIgLz4KCTxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik03IDEyLjkxN3YuNTgzYTQuNSA0LjUgMCAxIDAgOSAwdi0xLjY3YTMuMDAxIDMuMDAxIDAgMSAxIDIgMHYxLjY3YTYuNSA2LjUgMCAxIDEtMTMgMHYtLjU4M0E2IDYgMCAwIDEgMCA3VjJhMiAyIDAgMCAxIDItMmgxYTEgMSAwIDEgMSAwIDJIMnY1YTQgNCAwIDEgMCA4IDBWMkg5YTEgMSAwIDEgMSAwLTJoMWEyIDIgMCAwIDEgMiAydjVhNiA2IDAgMCAxLTUgNS45MTdNMTcgMTBhMSAxIDAgMSAwIDAtMmExIDEgMCAwIDAgMCAyIiAvPgo8L3N2Zz4K"
          alt=""
          style="width: 20px; height: 20px"
        /> -->
        <img src="logo.png" alt="" srcset="">
      </div>
      <div class="col flex flex-col">
        <p class="font-semibold text-[14px] text-gray-200 leading-tight">
          منصة الهيئة العامة للمعدات والمستلزمات والأجهزة الطبية
        </p>
      </div>
    </div>

    <div class="flex items-center justify-center w-full" *ngIf="isMinimized">
      <div class="icon-wrapper w-fit">
        <!-- <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iLTIgLTIgMjQgMjQiPgoJPHBhdGggZD0iTS0yIC0yaDI0djI0SC0yeiIgZmlsbD0ibm9uZSIgLz4KCTxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik03IDEyLjkxN3YuNTgzYTQuNSA0LjUgMCAxIDAgOSAwdi0xLjY3YTMuMDAxIDMuMDAxIDAgMSAxIDIgMHYxLjY3YTYuNSA2LjUgMCAxIDEtMTMgMHYtLjU4M0E2IDYgMCAwIDEgMCA3VjJhMiAyIDAgMCAxIDItMmgxYTEgMSAwIDEgMSAwIDJIMnY1YTQgNCAwIDEgMCA4IDBWMkg5YTEgMSAwIDEgMSAwLTJoMWEyIDIgMCAwIDEgMiAydjVhNiA2IDAgMCAxLTUgNS45MTdNMTcgMTBhMSAxIDAgMSAwIDAtMmExIDEgMCAwIDAgMCAyIiAvPgo8L3N2Zz4K"
          alt=""
          style="width: 20px; height: 20px"
        /> -->
        <img src="logo.png" alt="" srcset="">
      </div>
    </div>
  </div>

  <div class="p-3! relative">
    <app-side-bar-btn
      route="home"
      [iconUrl]="Icons.Dashboard"
      textContent="لوحة المعلومات"
    ></app-side-bar-btn>

    <app-side-bar-btn
      *ngIf="authService.hasPermission('gis:analysis')"
      route="map"
      [iconUrl]="Icons.GisMap"
      textContent="التحليل المكاني (GIS)"
    ></app-side-bar-btn>

    <app-side-bar-btn
      route="facilities"
      [iconUrl]="Icons.Facilities"
      textContent="المرافق الصحية"
    ></app-side-bar-btn>

    <app-side-bar-btn
      route="inventory"
      [iconUrl]="Icons.Inventory"
      textContent="حصر الأجهزة والمستلزمات"
    ></app-side-bar-btn>

    <app-side-bar-btn
      route="needs"
      [iconUrl]="Icons.Needs"
      textContent="احتياج الأجهزة والمستلزمات"
    ></app-side-bar-btn>

    <app-side-bar-btn
      route="maintenance"
      [iconUrl]="Icons.Maintenance"
      textContent="طلبات الصيانة"
    ></app-side-bar-btn>

    <app-side-bar-btn
      *ngIf="authService.user()?.roleId === '1'"
      route="approvals"
      iconUrl="material-symbols:shield-outline"
      textContent="لوحة الاستلام (المسؤول)"
    ></app-side-bar-btn>

    <app-side-bar-btn
      route="import"
      iconUrl="material-symbols:upload-file-outline"
      textContent="استيراد بيانات Excel"
    ></app-side-bar-btn>

    <app-side-bar-btn
      *ngIf="authService.user()?.roleId === '1'"
      route="users"
      iconUrl="material-symbols:group-outline"
      textContent="إدارة المستخدمين"
    ></app-side-bar-btn>

    <!-- <app-side-bar-btn
      *ngIf="authService.user()?.roleId === '1'"
      route="sm/audit-logs"
      iconUrl="material-symbols:history-rounded"
      textContent="سجل عمليات النظام"
    ></app-side-bar-btn> -->

    <!-- <div class="border-t border-surface-200 dark:border-surface-800 mt-4! pt-4!">
      <app-side-bar-btn
        [iconUrl]="'material-symbols:logout-rounded'"
        textContent="تسجيل الخروج"
        (onClick)="logout()"
      ></app-side-bar-btn>
    </div> -->
  </div>
  <button
    (click)="toggleMinimize()"
    class="sidebar-toggle-btn absolute bottom-0 bg-(--k-primary-active)!  p-3! m-4! rounded-2xl! collapsed-btn"
    [title]="isMinimized ? 'توسيع القائمة' : 'تصغير القائمة'"
  >
    <i
      class="pi text-white"
      [ngClass]="isMinimized ? 'pi-chevron-left' : 'pi-chevron-right'"
    ></i>
  </button>
</div>
